body{
    background-color:beige;
    
}
.im{
    height: 75vh;
    opacity: 0.8;
}
.cr{
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
}
.d-flex img{
    width: 250px;
    height:200px;
}
.p-2{
    border: thin solid black;
    margin: 10px;
}
.p-2 button{
    margin-left: 30px;
    background-color: blue;
    color: white;
    width:200px;
}
button{
    margin-left: 30px;
    background-color:black;
    color: white;
    width:100px;
    height: 30px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0%;
    height: 40px;
}
.cake_collection{
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}